<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153126038393-it9pmkjir355meq3fl3lgf923lpaedmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153126038393-it9pmkjir355meq3fl3lgf923lpaedmn</string>
	<key>API_KEY</key>
	<string>AIzaSyAP3htyNoXQgEoW7TRUTBPSSUcZtGvHjto</string>
	<key>GCM_SENDER_ID</key>
	<string>153126038393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.aarlic.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2a7d3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2a7d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153126038393:ios:0706e83c03a5855e5b1da8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-2a7d3.firebaseio.com</string>
</dict>
</plist>